<div class="row mt-5 justify-content-md-center">
    <div class="col-10 justify-content-center">
      <h2 class="widget-title">Rehabilitation</h2>
      <p>
        Our members recognise the challenges facing those with SCI and other neurological conditions. They are expert in identifying the barriers to independence and the impact and limitations that these have on an individual’s daily living. We design and provide bespoke occupational therapy rehabilitation programmes to overcome those barriers in many specialist fields. 
        We undertake thorough assessment and provide reports to suit each individual and need.
        Our treatment outcome can be measured against goals and other clinical measures.
      </p>
    </div>
</div>

<div class="row mt-3 justify-content-md-center">
    <div class="col-md-10">
      <div class="flex-container">      
        <div class="img-wrapper expand">
            <img class="blur" src="assets/housing.jpg"
            alt="LOGO">
            <div class="content slide-down ps-5">
                <div>
                    <h2 class="header">Housing</h2>        
                    <p class="paragraph"><strong>We strive to ensure that your home remains your home.</strong> We have a complete understanding of the housing adaptation needs for long term neurological conditions. We make recommendations for adaptations to make the environment(s) safe, accessible and enable an individual to function at their optimum level of independence.
                      We are also experienced at working alongside architects and surveyors reviewing plans for adaptations. 
                    </p>
                </div>
            </div>
        </div>
        <div class="img-wrapper expand">
          <img class="blur" src="assets/Equipment.jpg"
          alt="LOGO">
          <div class="content slide-down ps-5">
            <div>
              <h2 class="header">Equipment</h2>        
              <p class="paragraph" ><strong>Our members are experts in a range of specialist equipment designed to optimise
                  functional independence of our clients.</strong>  This includes equipment for personal care, domestic and 
                  leisure activities. Some of our members are qualified to undertake a full risk assessment and make
                   recommendations for manual handling equipment. We have links to representatives from a variety of 
                   companies to arrange trials of equipment 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>

<div class="row mt-3 justify-content-md-center">
    <div class="col-md-10">
      <div class="flex-container">      
        <div class="img-wrapper expand">
            <img class="blur" src="assets/transport.jpg"
            alt="LOGO">
            <div class="content slide-down ps-5">
                <div>
                    <h2 class="header">Transport & Vehicles</h2>        
                    <p class="paragraph">Expertise to assess and recommend suitable cars and vehicles for those with spinal cord injury and other neurological conditions is embedded in the skill set of our members. Including for those who need to drive from or travel from their wheelchair. 
                        We have links to a variety of companies offering adaptations and conversions to a range of vehicles to suit each individual's need.
                    </p>
                </div>
            </div>
        </div>
        <div class="img-wrapper expand">
          <img class="blur" src="assets/FunctionalRehabilitation.jpg"
          alt="LOGO">
          <div class="content slide-down ps-5">
            <div>
              <h2 class="header">Functional Rehabilitation</h2>        
              <p class="paragraph" >Our  network members can work with individuals to provide a rehabilitation
                 programme to help restore or optimise independence in daily living tasks. Strategies or techniques 
                 can be taught along with practising of functional tasks or introducing small aids to promote independence. 
                 The approach is always client and goal led in the areas prioritised by clients.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>

<div class="row mt-3 mb-5 justify-content-md-center">
    <div class="col-md-10">
      <div class="flex-container">      
        <div class="img-wrapper expand">
            <img class="blur" src="assets/upperLimb.jpg"
            alt="LOGO">
            <div class="content slide-down ps-5">
                <div>
                    <h2 class="header">Upper limb & Hand Rehabilitation</h2>        
                    <p class="paragraph">Our network members are experienced in a range of ‘hands-on’ techniques such as 
                      Bobath and PNF that can promote rehabilitation and maximise therapy outcomes. They are also experienced 
                      in the use of specialist technologies such as functional electrical stimulation (FES), robotics and virtual 
                      reality, evidenced to improve clinical outcomes. After a thorough assessment, a bespoke training programme 
                      will be drawn up incorporating the use of specialist technologies where appropriate. We also offer training 
                      to the carers to carry out a home programme.
                    </p>
                </div>
            </div>
        </div>
        <div class="img-wrapper expand">
          <img class="blur" src="assets/seatingPosture.jpg"
          alt="LOGO">
          <div class="content slide-down ps-5">
            <div>
              <h2 class="header">Seating & Posture</h2>        
              <p class="paragraph" >Our network members are experienced in the management of complex postural needs as a
                 result of neurological injury. With the knowledge of a wide range of seating products and years of experience 
                 in the field, clients can be assisted to identify a suitable wheelchair and postural supports. After an in depth 
                 assessment a bespoke seating and mobility solution can be recommended as per the clients aspiration, environment 
                 and their clinical and functional needs. Our network has links with various suppliers of specialist seating and 
                 wheelchairs. We can arrange trials of the recommended products.  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>
