<div class="row mt-5 justify-content-md-center">
    <div class="col-10 justify-content-center">
      <h2 class="widget-title">Rehabilitation</h2>
      <p>
        Our members recognise the challenges facing those with SCI and other neurological conditions. They are expert in identifying the barriers to independence and the impact and limitations that these have on an individual’s daily living. We design and provide bespoke occupational therapy rehabilitation programmes to overcome those barriers in many specialist fields. 
        We undertake thorough assessment and provide reports to suit each individual and need.
        Our treatment outcome can be measured against goals and other clinical measures.
      </p>
    </div>
</div>

<div class="row mt-3 justify-content-md-center">
    <div class="col-md-10">
      <div class="flex-container">      
        <div class="img-wrapper expand">
            <img class="blur" src="assets/housing.jpg"
            alt="LOGO">
            <div class="content slide-down ps-5">
                <div>
                    <h2 class="text-start">Housing</h2>        
                    <p class="paragraph">We have a complete understanding of the housing needs of individuals with spinal cord injury and other neurological disorders. 
                        As occupational therapists, our members are experts in assessing a person’s function within the context of the environment in which they live or work. As part of our comprehensive assessment of an individual's function, we will assess the environment(s) within which they undertake their functional activities. With this information, we can make recommendations for adaptations to make the environment(s) safe, accessible and enable an individual to function at their optimum level of independence.
                        We are also experienced at working alongside architects and surveyors reviewing plans for adaptations. 
                        We strive to ensure that your home remains your home
                    </p>
                </div>
            </div>
        </div>
        <div class="img-wrapper expand">
          <img class="blur" src="assets/Equipment.jpg"
          alt="LOGO">
          <div class="content slide-down ps-5">
            <div>
              <h2 class="text-start">Equipment</h2>        
              <p class="paragraph" >Our members are experts in a range of specialist equipment designed to meet the need and optimise the function of individuals with spinal cord injury. This includes equipment for personal care, domestic and leisure activities. 
                Some of our members hold qualifications in manual handling and can undertake a full risk assessment and make recommendations for manual handling equipment. 
                We always keep abreast of the latest developments and new products coming to market. We have links to representatives from a variety of companies to arrange trials of equipment
                Our focus is entirely that equipment should be in keeping with your home and personal preferences.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>

<div class="row mt-3 justify-content-md-center">
    <div class="col-md-10">
      <div class="flex-container">      
        <div class="img-wrapper expand">
            <img class="blur" src="assets/transport.jpg"
            alt="LOGO">
            <div class="content slide-down ps-5">
                <div>
                    <h2 class="text-start">Transport & Vehicles</h2>        
                    <p class="paragraph">Expertise to assess and recommend suitable cars and vehicles for those with spinal cord injury and other neurological conditions is embedded in the skill set of our members. Including for those who need to drive from or travel from their wheelchair. 
                        We have links to a variety of companies offering adaptations and conversions to a range of vehicles to suit each individual's need.
                    </p>
                </div>
            </div>
        </div>
        <div class="img-wrapper expand">
          <img class="blur" src="assets/FunctionalRehabilitation.jpg"
          alt="LOGO">
          <div class="content slide-down ps-5">
            <div>
              <h2 class="text-start">Functional Rehabilitation</h2>        
              <p class="paragraph" >Our members can work with individuals to provide a rehabilitation programme to help restore or
                 optimise independence in daily living tasks. Strategies or techniques can be taught along with practising of 
                 functional tasks or introducing small aids to promote independence. The approach is always client and goal led and
                  in those areas that are prioritised by clients within the context of their home or other environments.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>

<div class="row mt-3 justify-content-md-center">
    <div class="col-md-10">
      <div class="flex-container">      
        <div class="img-wrapper expand">
            <img class="blur" src="assets/upperLimb.jpg"
            alt="LOGO">
            <div class="content slide-down ps-5">
                <div>
                    <h2 class="text-start">Upper limb & Hand Rehabilitation</h2>        
                    <p class="paragraph">Upper-limb impairment can significantly impact functional independence following a stroke,
                                         spinal cord injury or any neurological condition resulting in poor quality of life.<br>
                                        Our network members are experienced in a range of ‘hands-on’ techniques that can promote
                                        rehabilitation and maximise therapy outcomes such as the Bobath and PNF approached.
                                        They are also experienced in the use of rehabilitation devices such as functional electrical
                                        stimulation (FES), robotics and virtual reality in upper limb rehabilitation. These approaches
                                        have been successfully used in our member's practice with positive clinical outcomes.
                                        An individual plan to achieve as much function as possible in upper limbs and hands will be
                                        drawn up following thorough assessment and clients are provided with a bespoke programme with
                                        regular reviews. Training to carry out a home training programme can also be provided to
                                        carers
                    </p>
                </div>
            </div>
        </div>
        <div class="img-wrapper expand">
          <img class="blur" src="assets/seatingPosture.jpg"
          alt="LOGO">
          <div class="content slide-down ps-5">
            <div>
              <h2 class="text-start">Seating & Posture</h2>        
              <p class="paragraph" >Neurological impairment leads to loss or weakness of postural musculature resulting in poor trunk
                 control, deteriorating posture and reduced functional activity. Our members are experienced in the management of
                 complex postural needs. With the knowledge of a wide range of seating products and years of experience in the field,
                 clients can be assisted to identify a suitable wheelchair and postural supports.  A thorough assessment of clinical
                 posture and seating will be conducted in the first instance and from this recommendations made to create solutions to
                 a client's specific needs.  Trials of the recommended products will be arranged as part of the assessment process for 
                 the appropriate seating and mobility solution that best matches a client's clinical and functional requirements. <br>
                Our network has links with various suppliers of specialist seating and wheelchairs to identify the best solution. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>
