<div class="row mt-5 justify-content-md-center">
    <div class="col-10 justify-content-center">
      <h2 class="widget-title"><span class="fw-normal">Expert</span> Services</h2>
    </div>
</div>

<div class="row mt-3 justify-content-md-center">
    <div class="col-md-10">
      <div class="flex-container">      
        <div class="img-wrapper expand">
            <img class="blur" src="assets/leadingExpert.jpg"
            alt="LOGO">
            <div class="content ps-5">
                <div>
                    <h2 class="header">Leading Expert Witnesses</h2>        
                    <p class="paragraph">Our clinicians are experienced in writing quantum reports for personal injury and clinical negligence cases having worked with a range of legal teams over several years. 
                        We can provide a detailed and unbiased report after a thorough assessment of the client.  
                        We have a thorough understanding of legal objectives and CPR guidance. 
                        We are flexible in approach and can work within given deadlines. 
                    </p>
                </div>
            </div>
        </div>
        <div class="img-wrapper expand">
          <img class="blur" src="assets/expert2.jpg"
          alt="LOGO">
          <div class="content ps-5">
            <div>
              <h2 class="header">38 years of combined Expertise in Occupational Therapy & Spinal Cord Injury </h2>        
              <p class="paragraph" >We maintain our clinical expertise through our independent clinical practice and through regular peer supervision and review
                By working in a network, our members share their expertise and experience. 
                We peer review our work to ensure our reports and recommendations are evidence based and clinically relevant.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>

<div class="row mt-3 mb-5 justify-content-md-center">
    <div class="col-md-10">
      <div class="flex-container">      
        <div class="img-wrapper expand">
            <img class="blur" src="assets/reports.jpg"
            alt="LOGO">
            <div class="content ps-5">
                <div>
                    <h2 class="header">High Quality Reports</h2>        
                    <p class="paragraph">Our reports are formatted and edited to a high quality; we work alongside professionals in the editing field. 
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="img-wrapper expand ms-4">
          <img class="blur" src="assets/expert2.jpg"
          alt="LOGO">
          <div class="content ps-5">
            <div>
              <h2 class="header">38 years of combined Expertise in Occupational Therapy & Spinal Cord Injury </h2>        
              <p class="paragraph" >We maintain our clinical expertise through our independent clinical practice and through regular peer supervision and review
                By working in a network, our members share their expertise and experience. 
                We peer review our work to ensure our reports and recommendations are evidence based and clinically relevant.
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>    
</div>