<div class="row mt-5 justify-content-md-center">
    <div class="col-10 justify-content-center">
        <h2 class="widget-title"><span class="fw-normal">Privacy </span> Policy</h2>
    </div>
</div>

<div class="row mt-3 justify-content-md-center">
    <div class="col-md-10">

        <p>
            <strong>We encourage you to read this policy. Terms of service are available on request.</strong>
            <br><br>
            This <strong>Privacy Policy</strong> describes how we collect, use, disclose, and protect the personal information of
            visitors and users of the SpinalOTnetwork.co.uk Website.
            <br><br>
            We respect your privacy and are committed to protecting your personal information. Please read this Privacy
            Policy carefully before using our website or submitting any personal information.
            <br><br>
        </p>
        <ol>
            <li><strong>Information We Collect</strong>
              <ol>
                We may collect personal information that you voluntarily provide to us when you:<br>
                <li>Contact us for occupational therapy services, including your name, contact information, medical history, and
                    relevant personal details.</li>
                <li>Fill out forms or other interactive features related to occupational therapy assessments or treatment on our
                    website.</li>
                <li>Interact with us through email, phone or social media platforms.</li>
                <li>Engage our services which may involve collecting additional information such as professional qualifications,
                    work experience, and relevant case details.</li>
                <li>Personal information we collect. We may collect the following information about you:
                    <ol>
                        <li>nformation that allows us to identify you, such as your name and email address, home address and telephone
                        number.
                        </li>
                    </ol>
                </li>
                <li>Case Study, Testimonials and Images on our website have been obtained and have been collected with the individual's consent. We will always seek consent before using any public material on our website.</li>
              </ol>
            </li>

            <li><strong>Use of Information</strong>
                <ol>
                    We may use the collected information for the following purposes:<br>
                    <li>To process your appointment booking</li>
                    <li>To process your payment</li>
                    <li>To provide and deliver occupational therapy services, including assessments and generating reports.</li>
                    <li>We may use the collected information for the following purposes: 
                        <ol>
                            <li>To provide and improve our services, personalise your experience, and respond to your inquiries and requests.
                            </li>
                        </ol>
                    </li>
                    <li>To communicate with you, send you administrative notifications, updates and newsletters.</li>
                    <li>To comply with applicable laws, regulations, or legal processes.</li>
                </ol>
              </li>

              <li><strong>Storage of your personal information</strong>
                <ol>
                    <li>We do not store any personal information on your server.</li>
                </ol>
              </li>

              <li><strong>Sharing of Information</strong>
                <ol>
                    We do not sell, trade, or rent your personal information to third parties. However, we
                    may share your information in the following circumstances:
                    <li>With law enforcement agencies, government officials, or other third parties when required
                         by law or in response to legal processes.
                    </li>
                </ol>
              </li>

              <li><strong>Your Choice</strong>
                <ol>
                    <li>You can control and manage the information you provide to us and the communications we send to you.
                    </li>
                </ol>
              </li>

              <li><strong>Changes to our Digital Privacy Policy</strong>
                <ol>
                    <li>We review our Privacy Policy regularly to check that it accurately reflects how we deal with your
                         information and make amendments. Please, check this page to see the most up-to-date information.
                    </li>
                </ol>
              </li>

              <li><strong>Disclaimer</strong>
                <ol>
                    <li>We do not store user data. We only collect your data via the enquiry form which includes your full
                        name and address. 

                    </li>
                </ol>
              </li>



         </ol>

    </div>
</div>