<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="assets/Logo-10-1.jpg" style="height:100px; margin-left: 50px;" alt="LOGO">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <!-- <a href="" title=" icons"> icons created by Icongeek26 - Flaticon</a> -->
        <!-- <a class="navbar-brand" href="assets/spinalNetworkCopy.zip" download>
            <img src="assets/Logo-10-1.jpg" style="height:100px; margin-left: 50px;" alt="LOGO">
            <span style="color: black; text-align: center; margin-left: 40px; font-style: italic; font-size: 1rem;">An independent NETWORK of specialist Occupational Therapists</span> 
        </a> -->
        <div class="w-100 me-5">        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end" >
          <li class="nav-item">
            <a class="nav-link fs-6 active" aria-current="page" routerLinkActive="active" [routerLink]="['/main']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToURL('AboutUs')">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToURL('OurServices')">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToURL('AboutUs')">Contact Us</a>
          </li>
        </ul>   
    </div>     
      </div>
    </div>
  </nav>
  
  <div class="row justify-content-center align-items-center" style="background-color: rgb(237,238, 238); vertical-align: middle;;">
      <div class="col-md-3" >
        <div class="row align-items-center">
          <div class="col-2" >
            <!-- <fa-icon class="fa-2x" [icon]="faHandPeace"></fa-icon> -->
            <img src="assets/hand.png" style="height:50px;" alt="LOGO">
          </div>
          <div class="col-10">
            <p class="fw-bold mt-2 mb-0">Our Services</p>
            <p class="mt-0">Rehabilitation Services, Expert Witness Services</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" >
        <div class="row align-items-center">
          <div class="col-2">
            <fa-icon class="fa-2x" [icon]="faPhone"></fa-icon>
          </div>
          <div class="col-10">
            <p class="fw-bold mt-2 mb-0">Give us a Call</p>
            <p class="mt-0">+ (12) 123 - 556 - 7890</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" >
        <div class="row align-items-center">
          <div class="col-2">
            <fa-icon class="fa-2x" [icon]="faEmail"></fa-icon>
          </div>
          <div class="col-10">
            <p class="fw-bold mt-2 mb-0">Send us a Message</p>
            <p class="mt-0">info@physiotherapy.com</p>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="row p-4 justify-content-start" style="background-color: black; color: wheat;">
        <div class="col-md-3">
          Copyright 2023 Spinal OT Network
        </div>
        <div class="col-md-3">
          <a routerLinkActive="active" [routerLink]="['/privatePolicy']">Private Policy</a>
        </div>
       
    </div>
</div>
    