<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color: rgba(250,250,250);" >
      <div class="wrapper">
          <img class="img-logo" src="assets/logo/Color_logo.png" [routerLink]="['/main']" 
          alt="LOGO" srcset="assets/logo/Color_logo_1.png 600w, assets/logo/Color_logo_2.png 300x, assets/logo/Color_logo.png 1000w">
          <div class="img-logo-text">An independent NETWORK and COOPERATIVE of specialist Occupational Therapists</div>
        </div>
      
    <!-- </a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <!-- <a href="" title=" icons"> icons created by Icongeek26 - Flaticon</a> -->
        <!-- <a class="navbar-brand" href="assets/spinalNetworkCopy.zip" download>
            <img src="assets/Logo-10-1.jpg" style="height:100px; margin-left: 50px;" alt="LOGO">
            
         -->
        <div class="w-100 me-5">        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end" >
          <li class="nav-item">
            <a class="nav-link fs-5 fw-bold active"  style="cursor: pointer;color: #314c78;" aria-current="page" routerLinkActive="active" [routerLink]="['/main']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-bold" style="cursor: pointer;color: #314c78;" (click)="goToURL('AboutUs')">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-bold" style="cursor: pointer;color: #314c78;" (click)="goToURL('OurServices')">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-bold" style="cursor: pointer;color: #314c78;" (click)="goToURL('AboutUs')">Contact Us</a>
          </li>
        </ul>   
    </div>
  </div>
</div>
  </nav>
  <!-- <p>An independent NETWORK and COOPERATIVE of specialist Occupational Therapists</p> -->
  
  <div class="row justify-content-center align-items-center" style="background-color: rgb(237,238, 238); vertical-align: middle;;">
      <div class="col-lg-4">
        <div class="row align-items-center">
          <div class="col-2" >
            <img src="assets/services.png" style=" height: 50px; width:50px" alt="LOGO">
          </div>
          <div class="col-10">
            <a style="cursor: pointer;" (click)="goToURL('OurServices')"><p class="fw-bold mt-2 mb-0">Our Services</p>
            <p class="mt-0">Rehabilitation Services, Expert Witness Services</p></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3" >
        <div class="row align-items-center">
          <div class="col-2">
            <!-- <fa-icon class="fa-2x" [icon]="faPhone"></fa-icon> -->
            <img height="40px" width="40px" src="assets/phone.png">
          </div>
          <div class="col-10">
            <p class="fw-bold mt-2 mb-0">Give us a Call</p>
            <p class="mt-0">01844 872016</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3" >
        <div class="row align-items-center">
          <div class="col-2">
            <!-- <fa-icon class="fa-2x" [icon]="faEmail"></fa-icon> -->
            <img height="40px" width="40px" src="assets/email.png">
          </div>
          <div class="col-10">
            <a style="cursor: pointer;" (click)="goToURL('AboutUs')">
              <p class="fw-bold mt-2 mb-0">Send us a Message</p>
              <p class="mt-0">enquiry@spinalotnetwork.co.uk</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <div class="row p-4 justify-content-start" style="background-color: #314c78; color: wheat;">
        <div class="col-md-5">
          &copy; Copyright 2023 Spinal OT Network. All rights reserved.
        </div>
        <div class="col-md-2">
          <a style="color: #FC7300;"routerLinkActive="active" [routerLink]="['/privatePolicy']">Privacy Policy</a>
        </div>
        <div class="col-md-3">
          <a style="color: #FC7300;"routerLinkActive="active" [routerLink]="['/cookiePage']">Cookie Policy</a>
        </div>
        <div>
          <br>
          <p style="color: #FC7300;">Icons by <a style="color: #FC7300;" href="www.icons8.com" title=" icons">icons8</a> and used as per usage licence terms. <a style="color: #FC7300;" href="https://icons8.com/license">www://icons8.com/license</a></p>
        </div>
    </div>
</div>
    