
@media(max-width : 821px)
{
  .carousel-caption {
    top : 85%;
    color: black;
    right: 0;
    left:0;
  }

  .carousel-indicators {
    opacity: 0;
  }

  .carousel-inner {
     overflow: visible;   
    color: black !important;
  }

  .carousel {
    padding-bottom: 2rem;
    color: black; 
  }
  

  .carousel-indicators { bottom: 4rem; }

  .heading
  {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
  }

  .text
  {
    font-size: 9px;
    text-align: left;
  }
}

@media(min-width : 821px)
{
  .carousel-caption {
    // position: absolute;
    // /* right: 1.25rem; */
    // top: 20%;
    // left: 11%;
    // padding-top: 1.25rem;
    // padding-bottom: 1.25rem;
    // color: #fff;
    // width: 30%;
    color: white;
    text-align: center;
  }

  .heading
  {
    font-size: 32px;
    font-weight: bold;
  }

  .text
  {
    font-size: 18px;
  }
}

.widget-title {
    color: #464646;
}

.img-wrapper
{
    position : relative;
    overflow: hidden;
    padding: 5px;
}

.memberImg-wrapper
{
    position : relative;
    overflow: hidden;
    vertical-align: top;
}

.memberImg-wrapper > img {
    display: block;   
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
    width:100%; 
    border: 1px solid black;   
}

.img-wrapper > img {
    display: block;   
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;     // height: 100%;
    height : 400px;
    width : 100%;
}

.img-wrapper > .content
{
     position: absolute;
     inset: 0;
     font-size: 0.9rem;
     padding: 1rem;
     display: flex;
     // justify-content: center;
     align-items: center;
     color: white;
     opacity: 1;
 }

//  .img-wrapper > .content.slide-down {
//   opacity: 1;
//   // transform: translateY(-100%);
// }

.img-wrapper:hover > .content {
  opacity: 1;
  // transform: translateY(0);
}

.memberImg-wrapper > .content {
  opacity: 1;
  text-align: left;
  // align-items: start;
  // transform: translateY(-100%);
}

@media(min-width : 821px)
{
    .img-wrapper > img {
      height : 580px;
      // width: 600px;
    }

  //   .img-wrapper > .content
  //  {
  //       position: absolute;
  //       inset: 0;
  //       font-size: 0.9rem;
  //       padding: 1rem;
  //       display: flex;
  //       // justify-content: center;
  //       align-items: center;
  //       color: white;
  //   } 

    .memberImg-wrapper > .content {
        position: absolute;
        inset: 0;
        font-size: 0.7rem;
        border-radius: 5px;
        // padding: 1rem;
        display: flex;
        // justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }

    .img-wrapper > .content {
      opacity: 0;
      // transform: translateY(-100%);
    }

    .memberImg-wrapper > .content {
      opacity: 0;
  }

    .memberImg-wrapper:hover > .content {
      opacity: 1;
      background-color: rgb(19,47,111);
      margin: 15px;
      border-radius: 5px;
      // transform: translateY(-100%);
  }
}

.img-wrapper > img,
.img-wrapper > .content {
    transition: 500ms ease-out;

}

.expand:hover {
    transition: 5s ease-in-out;
    flex: 0 1 150%;
 //    filter : blur(5px);
 }

.img-wrapper:hover > img {
   filter : brightness(40%);
}

// .blur {
//     filter: brightness(100%);
// }
// .img-wrapper:hover {
//     transform: scale(1.2);
//     // width: 50%;
//     // -webkit-transform: scalex(1.5);
//     //  transform: translateX(-50px);
// }


  
.flex-container {
    display: block;
    // height: 400px;
    // flex-wrap: wrap;
    // text-align: center;
    // justify-content: center;
    // background-color: gray;
  }

  @media(min-width : 821px)
  {
    .flex-container {
        // flex-wrap: nowrap;
        display: flex;
        height: 580px;
        // flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        
      }
  
  }

//   .column {
//     float: left;
//     width: 50%;
    
//     padding: 5px;
//     margin : 20px;
//     // background-color: red;
//     border-radius: 15px;
//   }

  .card:hover 
  {
    // transform: scale(1.05);
    transform: translateY(5px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .paragraph {
    text-align: left;
  }

// @media(min-width : 821px)
//   {
//     .paragraph  {
//         text-align: left;
//     }
  
//   }

  .img-container{
    position:relative;
    display:inline-block;
    // background-color: transparent;
  }

  .img-container .img{
   height: 40%;
  }

  @media(min-width : 821px)
  {
    .img-container .img{
      height: 60%;
     }
  
  }

//   .img{
//     filter: contrast(1.25); 
//   }
  .img-container .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgb(237,238, 238,0.85);
    opacity:1;
    transition:opacity 500ms ease-in-out;
  }
  
//   .img-container:hover .overlay{
//     opacity:1;
//   }
//   .overlay span{
//     position:absolute;
//     top:50%;
//     left:50%;
//     transform:translate(-50%,-50%);
//     background-color: green;
//   }

input {
    height: 38px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    // font-family: 'open sans';
    // font-size: 16px;
}

input:focus   
 {
    background-color: #fff;
    color: #495057;
    outline: none;
    border: 1px solid #80bdff;
}



textarea {
    border-radius: 3px;
    border: none;
    padding: 5px;
}

// @media screen and (min-width:576px)
// {
//   .carousel-inner{
//     display: flex;
//   }

//   .carousel-item{
//     display: block;
//     margin-right: 0;
//     flex : 0 0 calc(100%/2);
//   }
// }

// .carousel-inner{
//   padding:1em;
  
// }

// .card{
//   margin : 0 0.5em;
// }

.carousel-inner > .carousel-item > img
{ 
  object-fit: fill;
 }

.quotes
{
  font-size: 1rem;
}





.testimonial--quote
{
  position: relative;
    // margin: 30px 0;
    // padding: 30px 40px 35px 90px;
    margin-left: 16px;
    padding-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 1.8;
    color: #a5a5a5;
    border-radius: 2px;
    border-left: none;
    background: white;
    font-style: italic;
    
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}




.testimonial--description
{
  font-style: normal;
  font-weight: bold;
   color: #56afd5;

}

.testimonial--author
{
  font-size: 11px;
    font-weight: bold;
    font-style: normal;
    color: #464646;
}

@media(min-width : 821px)
{
  .testimonial--quote
  {
      // margin: 30px 0;
      // padding: 30px 40px 35px 90px;
      font-size: 15px;
      line-height: 1.5;
      color: #a5a5a5;
      border-radius: 2px;
      border-left: none;
      background: white;
      font-style: italic;
      
      // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .testimonial--author
{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: #464646;
}
}

// .arrow-bottom:after {
//   content: "\142F";
//   position: absolute;
//   left: 30px;
//   bottom: -23px;
//   font-size: 20px;
//   // color: 
//   // border-top: 15px solid rgb(243,243,243);
//   // border-right: 15px solid transparent;
//   // border-left: 15px solid transparent;
//   // border-bottom: none;
// }

.card.noTransform
{
  transform: none;
  border: 1px solid rgb(237,238, 238,0.85);
}

.card.noTransform::after
{
    position: absolute;
    content: "";
    left: 30px;
    // top:100%;
    bottom: -10px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    transform: rotate(45deg);
    box-shadow: 1px 5px 0 0 rgba(0, 0, 0, 0.015);
    border-right: 1px solid rgb(237,238, 238,0.85);;
    border-bottom: 1px solid rgb(237,238, 238,0.85);;
}

.testimonial--quote::before {
  position: absolute;
  content: '“';
  top: -15px;
  left: -25px;
  width: 50px;
  height: 50px;
  font-size: 91px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 98px;
  color: rgba(50, 50, 50, 0.1);
  text-shadow: none;
  border-radius: 50%;
  text-align: center;
  transition: all 100ms ease-out;
}


@media(min-width : 821px) {
  .whyChooseUs .card {
    font-size: 20px;
  }
}

.whyChooseUs .card-title {
  font-size: 18px;
}

.whyChooseUs .card-text
{
  font-size: 14px;
}


