// /* You can add global styles to this file, and also import other style files */
// .carousel-wrap {
//     width: 1000px;
//     margin: auto;
//     position: relative;
//   }
//   .owl-carousel .owl-nav{
//     overflow: hidden;
//     height: 0px;
//   }

//   .owl-theme .owl-dots .owl-dot.active span, 
//   .owl-theme .owl-dots .owl-dot:hover span {
//       background: #2caae1;
//   }


//   .owl-carousel .item {
//       text-align: center;
//   }
//   .owl-carousel .nav-btn{
//       height: 47px;
//       position: absolute;
//       width: 26px;
//       cursor: pointer;
//       top: 100px !important;
//   }

//   .owl-carousel .owl-prev.disabled,
//   .owl-carousel .owl-next.disabled{
//     pointer-events: none;
//     opacity: 0.2;
//   }

// //   .owl-carousel .prev-slide{
// //       background: url(nav-icon.png) no-repeat scroll 0 0;
// //       left: -33px;
// //   }
// //   .owl-carousel .next-slide{
// //       background: url(nav-icon.png) no-repeat scroll -24px 0px;
// //       right: -33px;
// //   }
//   .owl-carousel .prev-slide:hover{
//      background-position: 0px -53px;
//   }
//   .owl-carousel .next-slide:hover{
//     background-position: -24px -53px;
//   }

//   span.img-text {
//     text-decoration: none;
//     outline: none;
//     transition: all 0.4s ease;
//     -webkit-transition: all 0.4s ease;
//     -moz-transition: all 0.4s ease;
//     -o-transition: all 0.4s ease;
//     cursor: pointer;
//     width: 100%;
//     font-size: 23px;
//     display: block;
//     text-transform: capitalize;
//   }
//   span.img-text:hover {
//     color: #2caae1;
//   }

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #350783;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .owl-prev {
    color: #BFDB38;
    font-size: 35px;
    font-weight: bold;
    margin: -1px;
    padding: 0px 20px 5px 20px;
    background: #00425A;
    display: inline-block;
    cursor: pointer;
    border-radius: 40px 0 0 40px;
}

.owl-theme .owl-nav .owl-next {
color: #BFDB38;
font-size: 35px;
margin: 1px;
padding: 0px 20px 5px 20px;
background: #00425A;
display: inline-block;
cursor: pointer;
font-weight: bold;
border-radius: 0 40px 40px 0;
height : 63% !important;
}

.owl-theme .owl-nav .owl-next:hover
{
    background: #FC7300;
}

.owl-theme .owl-nav .owl-prev:hover
{
    background: #FC7300;
}
